#stickyATC {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(100%); /* Adjust this value based on the height of your sticky button */
}

#stickyATC.visible {
    opacity: 1;
    transform: translateY(0);
}

#stickyATC.hidden {
    opacity: 0;
    transform: translateY(100%);
}
